# Omit these files from GitHub's generated tarballs
/.cirrus.yml                export-ignore
/.git*                      export-ignore
/.readthedocs.yaml          export-ignore

# Omit imported C files from GitHub's language statistics
htslib/**                   linguist-vendored
samtools/**                 linguist-vendored
samtools/samtools.pysam.*  -linguist-vendored
bcftools/**                 linguist-vendored
bcftools/bcftools.pysam.*  -linguist-vendored
