#
# Use .add_data_files and .add_data_dir methods in a appropriate
# setup.py files to include non-python files such as documentation,
# data, etc files to distribution. Avoid using MANIFEST.in for that.
#
include MANIFEST.in
include COPYING
include INSTALL
include KNOWN_BUGS
include THANKS
include ez_setup.py
include pysam/csamtools.pxd
include pysam/csamtools.pyx
include pysam/csamtools.c
include pysam/ctabix.pxd
include pysam/pysam_util.h
include samtools/*.h
include samtools/*/*.h
include tabix/*.h

# pysam tests
include tests/00README.txt
include tests/Makefile
include tests/ex1.fa
include tests/ex1.sam.gz
include tests/ex3.sam
include tests/ex4.sam
include tests/ex5.sam
include tests/ex6.sam
include tests/ex7.sam
include tests/ex8.sam
include tests/ex9_fail.bam
include tests/ex9_nofail.bam
include tests/ex10.sam
include tests/example.py
include tests/pysam_test.py
include tests/segfault_tests.py

# tabix tests
include tests/tabix_test.py
include tests/example.gtf.gz
include tests/example.gtf.gz.tbi


